@use "./variables";

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

header {
    .wrapper {
        background-image: url(../assets/header-photo.jpg);
        background-position: 30% 60%;
    }
}

.accuweather {
   width: 100%;
height: 40vh;
}

footer {
    display: flex;
    background-color: variables.$primary;
}