@use "./variables";
// Headings and paragraphs
h1 {
    font-size: 3.5rem;
    color: variables.$black;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.8rem;
}

// Form elements
label, button {
    font-size: 1.5rem;
}

input {
    font-size: 2rem;
}

button {
    color: variables.$white;
    text-transform: uppercase;
}

// Footer elements
a {
    text-decoration: none;
    color: variables.$secondary;
    transition: .3s;
}

.copyrightJuno, .createdBy {
    color: variables.$secondary;
    text-align: center;
    font-size: 0.9rem;
}